* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --primary-color: #0f1b4c;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}

/* ====== Common ====== */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    background-color: var(--primary-color);
    min-width: 98px;
    padding: 15px 22px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}

.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* ============= Header ============== */
.fixed-header {
    background: #e6f0ff;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
    background-color: #e6f0ff;
}

.navbar .logo {
    margin-right: 50px;
}

.content .navbar ul {
    display: flex;
}

.navbar ul a {
    padding: 14px;
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
}

.navbar .actions {
    margin-left: auto;
}

.navbar .actions .sign-in {
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .actions .sign-up {
    padding: 12px 22px;
    margin-left: 18px;
    border-radius: 8px;
}

/* ======= Hero ======= */
.hero-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e6f0ff;
    height: calc(100vh - 76px);
}

.hero-wrap .infor {
    width: 51%;
}
.hero-wrap .sub-title {
    margin-top: 130px;
    font-size: 18px;
    line-height: 1.5rem;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero-wrap .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 64px;
    line-height: 1.19;
    color: #000336;
}

.hero-wrap .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    color: #5a6473;
}

.hero-wrap .hero-cta {
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ======== Client ======== */
.client {
    margin-top: 79px;
    padding: 43px 0px 63px;
}

.client .content-review {
    display: flex;
    justify-content: space-between;
}

.content-review .quantity-client .desc-company {
    margin-top: 23px;
}

.content-review .rate {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content-review .rate .desc-rate {
    margin-top: 18px;
}

.client .company {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .company .main-company {
    padding: 32px 42px 22px 42px;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* ======= Guides====== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}

.guides .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.guides h2 {
    position: relative;
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    text-align: center;
    color: #000339;
}

.guides h2::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.guides .desc-intro {
    margin-top: 20px;
    align-self: center;
    width: 460px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}

.guides .guides-type {
    display: flex;
    justify-content: center;
}

.guides .guides-item {
    padding: 70px 70px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guides-item .icon {
    width: 48px;
    height: 64px;
}
.guides-item .desc {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
}

.guides-item .text-click {
    margin-top: 10px;
    display: inline-block;
    display: flex;
    text-decoration: none;
}

.guides-item .text-click p {
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #0689ff;
}

.guides-item .arrow-right {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.guide-cta .btn {
    min-width: 170px;
}

/* ======= Fearture ====== */
.fearture {
    background: #f5fafe;
    margin-top: 41px;
}

.fearture .content {
    padding: 110px 0 110px;
}

.fearture .header .title {
    font-weight: 600;
    font-size: 35px;
    line-height: 1;
    color: #000339;
}

.fearture .header .detail {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.fearture .header .detail .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.fearture .header .detail .view-all {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.fearture .header .detail .text {
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}

.fearture .arrow-right {
    width: 24px;
    height: 8px;
    margin-left: 8px;
}

.fearture .list {
    margin-top: 70px;
    gap: 30px;
    display: flex;
}

.fearture .list .item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
}

.fearture .list .item .body {
    padding: 17px 20px 23px;
}

.fearture .list .item .thumnail {
    height: 227px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.fearture .item h3 {
    margin-top: 17px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: #000339;
}

.fearture .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}

.fearture .list .list-prop {
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fearture .list .list-prop .item {
    display: flex;
    align-items: center;
}

.fearture .list .list-prop .label {
    margin-left: 11px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* ======= Stats ====== */
.stats {
    margin-top: 75px;
    padding: 50px 196px;
}

.stats .row {
    display: flex;
}

.stats .img-block,
.stats .info {
    width: 50%;
}

.stats .img-block {
    position: relative;
}

.stats .img-block .bg-present {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}

.stats .trend {
    position: absolute;
    left: 0;
    top: 0;
    width: 239px;
    padding: 45px 22px 41px;
    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
}

.stats .trend .qty-row {
    display: flex;
    justify-content: space-between;
}

.stats .trend .qty {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats .trend .separate {
    margin-top: 26px;
    height: 1.2px;
    background: #e9e9e9;
}

/* Stats user left */
.stats .img-block .list-user {
    margin-top: 26px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
}
.stats .img-block .user-group {
    display: flex;
}
.stats .img-block .user {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
}

.stats .img-block .user:first-child {
    margin-left: 0px;
}
/* Stats infor right */
.stats .info {
    padding: 79px 0 0 165px;
}

.stats .info .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.stats .info .sub-title::before {
    left: 0;
    top: -10px;
    position: absolute;
    display: block;
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.stats .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

/* Desc Quantity */
.stats .des-qty {
    justify-content: space-between;
    padding: 0 32px;
}

.stats .row .qty-item {
    margin-top: 110px;
}

.stats .des-qty .qty {
    font-weight: 600;
    font-size: 6.4rem;
    color: #000000;
}

.stats .des-qty .desc {
    margin-top: 22px;
    font-weight: 500;
    font-size: 1.8rem;
    color: #7b8087;
}

/* ======= Subscription ====== */
.subs {
    margin-top: 51px;
}

.subs .body {
    position: relative;
    margin-top: 90px;
    display: flex;
    height: 370px;
    align-items: center;
    border-radius: 20px;
    background: #063183;
}

.subs .block-content {
    width: 670px;
    padding: 0px 80px;
}

.subs .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffffff;
}

.subs .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.subs .btn {
    margin-top: 20px;
    min-width: 151px;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    color: #002366;
}

.subs .app-icon {
    position: absolute;
    bottom: 0;
    right: 221px;
}
